extends layout

block content
  h1= title
  p Welcome to #{title}


  form(action="/sanitize" method="post") 
    input(type="text", id="userIndput", name="userIndput")
    input(type="submit", value="sanitize value")
